<h1><a href = "/">Joker</a></h1>
				<p>Clown Prince of Crime</p>
<div class="form-hide">
<form id="login" method="post" >
			    <label>
			        Username: <input type="text" name="username" >
			    </label>
			    <label>
			        Parola: <input type="password" name="parola" >
			    </label>
			    
			    <input type="submit" value="Submit">
			</form> 
</div>

</nav>

<% if(locals.user){ %>
		<p class="salut">Salut,<br/><%= user.username %></p>
	<% } %>