<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset = "utf-8"/>
		<meta name = "keywords" content = "Joker, Clown, DC, Comics, Batman, Cretated"/>
		<meta name = "author" content = "Denisa Boriceanu"/>
		<meta name = "description" content = "Fan-site about Joker which is a character that appears in Batman comic books published by DC Comics and is created by Bill Finger, Bob Kane and Jerry Robinson."/>
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
		
		<link rel= "shortcut icon" href= "poze/favicon.ico" type="image/x-icon"/>
		<link rel = "stylesheet" href = "css/style.css" type = "text/css"/>
		<link rel = "stylesheet" href = "css/animatie.css" type = "text/css"/>
		
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<meta charset="UTF-8"/>
		<title>404</title>
		<script src="starter.js">
		</script>
		<link rel="stylesheet" type="text/css" href="starter.css"/>
	</head>
	<body>
		<h1>Eroare 404</h1>
		<p>Pagina inexistenta....
	</body>
</html>