<!DOCTYPE HTML>

<html lang = "en">
	<head>
		<meta charset = "utf-8"/>
		<meta name = "keywords" content = "Joker, Momente, <!--4 cuv cheie ale paginii-->"/>
		<meta name = "author" content = "Denisa Boriceanu"/>
		<meta name = "description" content = "Fan-site <!--more-->"/>
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
		
		<link rel= "shortcut icon" href= "../poze/favicon.ico" type="image/x-icon"/>
		<link rel = "stylesheet" href = "../css/filme.css" type = "text/css"/>
		<link rel = "stylesheet" href = "../css/style.css" type = "text/css"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<title>Animations</title>
	</head>

	<body>
		<header class = "header1">
			<%- include("../fragmente/header") %>
		</header>
		
		<nav class="wrapper">
		<%- include("../fragmente/menu") %>
	</nav>

	<main>
		<div class = "row">
			<div class = "column">
				<img src = "poze/desene-animate/batman-the-killing-joke.png" class = "responsive" alt = "Joker">
				<div class = "hider"><h4 class = "middle"><a href = "https://www.youtube.com/watch?v=VeNi4PfNMqI" target = "_blank" class = "linkbox">Batman: The Killing Joke</a></h4></div>
					<blockquote>
					<p class = "textContainer">
						Batman: The Killing Joke is a 2016 American adult animated superhero film produced by Warner Bros. Animation and distributed by Warner Bros. Pictures. Featuring the DC Comics character Batman, the film is the twenty-sixth film in the DC Universe Animated Original Movies series, based on the graphic novel of the same name by Alan Moore and Brian Bolland. The film is directed by Sam Liu, written by Brian Azzarello and stars the voices of Kevin Conroy, Mark Hamill, Tara Strong, and Ray Wise. Like the novel, the film follows the Joker's undertaking to drive police commissioner James Gordon insane, and Batman's desperate attempts to stop him. 
					</p>
					</blockquote>
			</div>

			<div class = "column">
				<img src = "poze/desene-animate/batman-unlimited.png" class = "responsive" alt = "Joker">
				<div class = "hider"><h4 class = "middle"><a href = "https://www.youtube.com/watch?v=5509uVpIR_Y" target = "_blank" class = "linkbox">Batman Unlimited: Monster Mayhem</a></h4></div>
					<blockquote>
					<p class = "textContainer">
						It's Halloween night in Gotham City and Scarecrow, Clayface, Silver Banshee, and Solomon Grundy have hit the streets to stir up trouble! Batman is on the trail of the city's spookiest villains while, further complicating matters, the clown prince of crime himself, The Joker, is ruling over this mysterious crew of misfit criminals. It's up to the Dark Knight to stop this gruesome gang before they unleash “digital laughter,” a computer virus that's part of a diabolical plan to jeopardize all of Gotham City's vital technology. Batman, Green Arrow, Cyborg, Nightwing, and Red Robin must combine forces to battle these baddies and save the city.
					</p>
					</blockquote>
			</div>

			<div class = "column">
				<img src = "poze/desene-animate/the-dark-knight-returns.png" class = "responsive" alt = "Joker">
				<div class = "hider"><h4 class = "middle"><a href = "https://www.youtube.com/watch?v=NETiYgvAH7c" target = "_blank" class = "linkbox"> Batman: The Dark Knight Returns</a></h4></div>
					<blockquote>
					<p class = "textContainer">
						Batman: The Dark Knight Returns is a two-part direct-to-video animated superhero film, an adaptation of the 1986 comic book The Dark Knight Returns by Frank Miller. It was directed by Jay Oliva, who worked as a storyboard artist on Man of Steel, Under the Red Hood, Year One and Batman v Superman: Dawn of Justice. Several other Batman veterans were also involved in the film. Part 1 was released September 25, 2012, and Part 2 was released January 29, 2013. A deluxe edition combining both films was released on October 8, 2013. It is the 15th film in the DC Universe Animated Original Movies series. 
					</p>
					</blockquote>
			</div>

			<div class = "column">
				<img src = "poze/desene-animate/batman-under-the-red-hood.png" class = "responsive" alt = "Joker">
				<div class = "hider"><h4 class = "middle"><a href = "https://www.youtube.com/watch?v=A2c9MsP3OVs" target = "_blank" class = "linkbox">Batman: Under the Red Hood</a></h4></div>
					<blockquote>
					<p class = "textContainer">
						Batman: Under the Red Hood released on July 27, 2010 is an American animated superhero adventure direct-to-video film produced by Warner Bros. Animation and released by Warner Home Video. It is the eighth feature in the DC Universe Animated Original Movies series. The writer, Judd Winick, also wrote the "Under the Hood" run in the monthly Batman comic. The film received positive reviews, and is generally considered one of the best DC Universe Animated Original Movies.
						The two-disc special edition and Blu-ray also includes an animated short featuring Jonah Hex. 
					</p>
					</blockquote>
			</div>
		</div>
		</main>

		<div id = "mybtn"><a href = "#top">&#8728; Top &#8728;</a></div>

	</body>
</html>