<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset = "utf-8"/>
		<meta name = "keywords" content = "Joker, Momente, <!--4 cuv cheie ale paginii-->"/>
		<meta name = "author" content = "Denisa Boriceanu"/>
		<meta name = "description" content = "Fan-site <!--more-->"/>
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
		
		<link rel= "shortcut icon" href= "../poze/favicon.ico" type="image/x-icon"/>
		<link rel = "stylesheet" href = "../css/istoric.css" type = "text/css"/>
		<link rel = "stylesheet" href = "../css/style.css" type = "text/css"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<title>History</title>
</head>
<body class="container">

<header class = "header1">
			<%- include("../fragmente/header") %>
			
		</header>
		<nav class="wrapper">
		<%- include("../fragmente/menu") %>
	</nav>

<form method="post">
   <input type="submit" value="buton">
</form>

</body>
</html>