<!DOCTYPE HTML>

<html lang = "en">
	<head>
		<meta charset = "utf-8"/>
		<meta name = "keywords" content = "Joker, Clown, Heath, Ledger, Australian, 2008"/>
		<meta name = "author" content = "Denisa Boriceanu"/>
		<meta name = "description" content = "The australian actor Ledger played this role in 2008"/>
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
		
		<link rel= "shortcut icon" href= "../poze/favicon.ico" type="image/x-icon"/>
		
		<link rel = "stylesheet" href = "../css/style.css" type = "text/css">
		<link rel = "stylesheet" href = "../css/actori.css" type = "text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<title>Heath Ledger</title>
	</head>
	
	<body>
		<div id = "content_wrapper">
			<header class = "header2">
				<h1><a href = "/" class = "link">Joker</a></h1>
				<p><small>Clown Prince of Crime</small></p>
			</header>
		</div>
		
		<nav class="wrapper">
			<%- include("../fragmente/menu") %>
	</nav>

		<main>
			<section>
				<h2>Heath Andrew Ledger</h2>
				<h3>(<time datetime = "1979-04-04">4 April 1979</time> – <time datetime = "2008-01-22">22 January 2008</time>)</h3>
				<hr>
				<img src = "https://upload.wikimedia.org/wikipedia/commons/e/ea/Heath_Ledger_%282%29.jpg" alt = "Heath Ledger">
				<p> He was an <b>Australian</b> actor and music video director. After performing roles in several <b>Australian</b> television and film productions during the 1990s, Ledger left for the United States in 1998 to further develop his film career. His work comprised nineteen films, including 10 Things I Hate About You (1999), The Patriot (2000), A Knight's Tale (2001), Monster's Ball (2001), Lords of Dogtown (2005), Brokeback Mountain (2005), The Brothers Grimm (2005), Casanova (2005), The Dark Knight (<b>2008</b>), and The Imaginarium of Doctor Parnassus (2009), the latter two being posthumous releases.  He also produced and directed music videos and aspired to be a film director.</p>
				<p>Ledger died on the afternoon of 22 January <b>2008</b> due to a drug overdose. A few months before his death, Ledger had finished filming his performance as the <b>Joker</b> in The Dark Knight. At the time of his death, The Dark Knight was in its editing-phase, and The Imaginarium of Doctor Parnassus was in the midst of filming, in which he was playing his last role as Tony. His untimely death also affected the subsequent promotion of The Dark Knight. His role as the <b>Joker</b> in The Dark Knight earned him widespread acclaim and popularity from both fans and critics alike. Ledger also received numerous posthumous accolades for his performance in The Dark Knight, including the Academy Award for Best Supporting Actor, a Best Actor International Award at the <b>2008</b> <b>Australian</b> Film Institute Awards, the <b>2008</b> Los Angeles Film Critics Association Award for Best Supporting Actor, the 2009 Golden Globe Award for Best Supporting Actor – Motion Picture, and the 2009 BAFTA Award for Best Supporting Actor.</p>
		</section>
		<br><br><br>
		<blockquote cite = "https://www.looper.com/141474/how-playing-the-joker-changed-heath-ledger-for-good/">
		<article>
			<h3>How playing the <b>Joker</b> changed Heath Ledger for good</h3>

			<p>In order to transform into his own unique version of the <b>Joker</b>, Ledger pushed himself physically and mentally further than he ever had for a role. From isolating himself for over a month to becoming heavily involved with makeup and wardrobe decisions for the character, Ledger put in every effort to set his performance apart from his predecessors. This extreme effort took a toll on the actor, leaving him exhausted and sleep deprived.</p>

			<p>In the end, Ledger's issues with insomnia contributed to his premature death when the 28-year-old actor <strong>accidentally overdosed</strong> on prescription sleeping medication before the film's release. Ledger's untimely death sparked all kinds of rumors that transformed the actor's performance into the stuff of legends, but what's the truth about the many ways he threw himself fearlessly into one of the most iconic roles in modern cinema — and how it changed him for good?</p>

			<br>
			<section>
				<h4>​Heath Ledger's insomnia skyrocketed when he prepared to play the <b>Joker</b></h4>
				<p>Heath Ledger had a long history of sleep troubles, reportedly struggling with a racing mind for years before portraying the <b>Joker</b>. However, his chronic insomnia became much more prevalent and aggressive after filming The Dark Knight. His difficultly sleeping was summed up in a New York Times profile in 2007, while the film was in production: "It is a physically and mentally draining role — his <b>Joker</b> is a 'psychopathic, mass-murdering, schizophrenic <b>clown</b> with zero empathy,' he said cheerfully — and, as often happens when he throws himself into a part, he is not sleeping much."</p>

				<p>During this interview, Ledger reported that he had slept an average of two hours per day over the previous week. He even mentioned taking one Ambien to no effect, and after taking another, he was only able to stay asleep for an hour. This interview, which took place several months before Ledger's death, shed light onto how sleep deprivation changed the young actor — and an offhand remark about his resistance to sleeping medications even eerily foreshadowed his imminent fatal overdose on prescription drugs.</p>
			</section>

			<br>
			<section>
				<h4>Heath Ledger became a little more cultured studying to play the <b>Joker</b></h4>
				<p>Although Christopher Nolan gave Heath Ledger quite a bit of creative control over his iteration of the <b>Joker</b>, he did suggest several sources of inspiration. These recommendations included the paintings of Francis Bacon, the Anthony Burgess novel A Clockwork Orange, and heavy metal music. Nolan suggested these so that Ledger could understand the type of <b>Joker</b> he was envisioning for the film, and several of these inspirations helped to form the final version that appeared onscreen.</p>

				<p>One of the characters from A Clockwork Orange, Alex DeLarge, was particularly influential on Ledger's development of his <b>Joker</b> character. Several images of DeLarge appear throughout the legendary "<b>Joker</b> Diary" that the actor created during his self-imposed isolation in order to get into the right head space for the character. Since Alex DeLarge is depicted as a sociopath who steals and assaults innocent people purely for his own amusement in A Clockwork Orange, it is only natural that the <b>Joker</b> would consider him to be a kindred spirit. In fact, the <b>Joker</b>'s iconic glare in The Dark Knight is considered to be a recreation of the famed "Kubrick Stare," the expression that DeLarge, played by Malcolm McDowell, utilized in the film version of A Clockwork Orange</p>
			</section>

			<br>
			<section>
				<h4>Heath Ledger isolated himself while playing the <b>Joker</b></h4>
				<p>Since Heath Ledger wanted his rendition of the <b>Joker</b> to be completely different from any previous versions, such as those played by Jack Nicholson or Cesar Romero, he isolated himself in a London hotel for around six weeks in order to cultivate an entirely new character. It was during this time that Ledger studied the sources of inspiration with which Nolan had provided him. He also began writing and pasting pictures into the journal that would become the "<b>Joker</b> Diary" that he would bring on set to leaf through in order to get into character.</p>

				<p>During a 2007 interview with <i>Empire</i>, Ledger briefly went over how his experience preparing for the role changed him: "I sat around in a hotel room in London for about a month, locked myself away, formed a little diary and experimented with voices." Although the isolation and creation of the <b>Joker</b> Diary were huge steps towards the formation of Ledger's <b>Joker</b>, his time experimenting with voices would turn out to be equally invaluable.</p>
			</section>

			<br>
			<section>
				<h4>​Heath Ledger improved his voice acting for the <b>Joker</b></h4>
				<p>Seeing as some of the <b>Joker</b>'s most iconic features are his mocking voice and sardonic laugh, Heath Ledger wanted to be sure his <b>Joker</b>'s voice set him apart from those who had played the part before. This was no small feat, as greats such as Jack Nicholson had previously played the <b>Joker</b> onscreen and Mark Hamill had made his vocal mark on the character in animation.</p>

				<p>In order to formulate his own unique voice for the <b>Joker</b>, Ledger practiced different pitches and tones during his hotel room isolation. He wanted to be sure that the voice he chose reflected the personality of the character he was envisioning, saying, "It was important to try to find a somewhat iconic voice and laugh. I ended up landing more in the realm of a psychopath — someone with very little to no conscience towards his acts."  According to Nolan, Ledger had been studying ventriloquist dummies because he found their voices terrifying. He decided to try and emulate one and, using the training on inflections he had received from a voice coach, managed to "mouth" his dialogue to create an eerie sound effect.</p>
			</section>

			<br>
			<section>
				<h4>​Heath Ledger became involved in makeup and prop choices for the <b>Joker</b></h4>
				<p>Although not all actors are deeply concerned with the costumes or props their character uses, The Dark Knight prosthetic supervisor Conor O'Sullivan said Heath Ledger became heavily involved with the painting of his face. Apparently, Ledger and makeup artist John Caglione gravitated toward a Francis Bacon painting that Nolan had recommended as inspiration for the <b>Joker</b>'s makeup. Nolan went into more detail about how the makeup design helped flesh out Ledger's <b>Joker</b> character: "We have a Francis Bacon spin to [his face]. This corruption, this decay in the texture of the look itself. It's grubby. You can almost imagine what he smells like."</p>

				<p>Besides working with Caglione on makeup design, Ledger was also very engaged in the wardrobe and prop departments. He worked closely with The Dark Knight costume designer Lindy Hemming when choosing the right chaotic outfit for the character. He even chose the <b>Joker</b>'s signature weapon from a selection of different rubber knives laid out by the prop team.</p>
			</section>

			<br>
			<section>
				<h4>​Heath Ledger pushed himself to his limits for the <b>Joker</b></h4>
				<p>In Heath Ledger: Too Young To Die, a German documentary on the actor's life, Ledger's father went into more detail on just how much his son changed to prepare for The Dark Knight: "He pretty well locked himself up in a hotel room for a month or so to galvanize the upcoming character in his own mind. That was typical of Heath on any movie. He would certainly immerse himself in the character and I think this was just a whole new level." Although Ledger was a seasoned method actor who had already sunk his teeth into challenging roles such as Ennis Del Mar in Brokeback Mountain, he pushed himself further than ever when getting into character for the <b>Joker</b>.</p>

				<p>After Ledger's untimely death due to an accidental overdose of prescription sleeping medication, rumors ran rampant that his turn as the <b>Joker</b> had taken a toll on the young actor and led to his demise. However, a documentary titled I Am Heath Ledger, created by the actor's friends and family and released in 2017, dispels the theories about his death. During an interview with Entertainment Weekly following a screening of the documentary at the Tribeca Film Festival, the deceased actor's sister, Kate Ledger, officially set the record straight about his state of mind before his death: "He was having fun. He wasn't depressed about the <b>Joker</b>." </p>
			</section>

			<br>
			<section>
				<h4>Heath Ledger tested his physical limits for the <b>Joker</b>, too</h4>
				<p>Heath Ledger didn't just push himself mentally to get into character for the <b>Joker</b> — he also pushed himself physically. The actor was so dedicated to the role that he actually encouraged Christian Bale to physically assault him in order to make one scene more authentic. Although Bale tried to convince Ledger that the scene would look just as real if they faked the fighting, Ledger insisted that Bale didn't pull any punches, and even tried to provoke him to hit harder.</p>

				<p>Bale himself went into more detail about working on this scene with Ledger during an interview with The Hollywood Reporter: "He was kinda egging me on. I was saying, 'You know what, I really don't need to actually hit you. It's going to look just as good if I don't.' And he's going, 'Go on. Go on. Go on...' He was slamming himself around, and there were tiled walls inside of that set which were cracked and dented from him hurling himself into them. His commitment was total." Despite Bale's attempts to convince his co-star that faking the fight would still look just as realistic, Ledger was determined to have it be as authentic as possible. Few actors are so committed to their roles that they would happily crack tiles by throwing themselves into walls.</p>
			</section>

			<br>
			<section>
				<h4>The <b>Joker</b> cemented Heath Ledger's legacy</h4>
				<p>Heath Ledger broke down quite a few boundaries with his <b>Joker</b> performance in The Dark Knight when awards season rolled around. Most superhero films, despite constantly topping box office sales, are rarely considered by the Academy. However, Ledger's turn as the <b>Joker</b> brought quite a bit of attention to this previously overlooked genre, and earned him a multitude of honors. These included a Golden Globe, British BAFTA, Screen Actors Guild award, and many more U.S. and <b>Australian</b> critics awards.</p>          

				<p>Making great strides for superhero films wasn't the only way Ledger's posthumous awards changed his legacy. He joined a very select company after winning, becoming one of only two actors to win an Oscar after death. Before him, Peter Finch had won for his work in the 1976 satirical film Network after passing from a heart attack. Ledger had been nominated for Best Actor for his role in Brokeback Mountain back in 2006, but never got to see a win. His father, Kim, accepted the award for Dark Knight on his behalf with a beautiful statement on Heath's legacy: "This award tonight would have humbly validated Heath's quiet determination to be truly accepted accepted by you all here, his peers, in an industry that he so loved."</p>
			</section>
		</article>
	</blockquote>
	
		<div id = "mybtn"><a href = "#top">&#8728; Top &#8728;</a></div>

	</main>

	</body>
</html>