<!DOCTYPE HTML>

<html lang = "en">
	<head>
		<meta charset = "utf-8"/>
		<meta name = "keywords" content = "Joker, Clown, Joaquin, Phoenix American, 2019"/>
		<meta name = "autor" content = "Denisa Boriceanu"/>
		<meta name = "description" content = "Fan-site"/>
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
		
		<link rel= "shortcut icon" href= "../poze/favicon.ico" type="image/x-icon"/>
		<link rel= "shortcut icon" href= "../poze/favicon.ico" type="image/x-icon"/>

		<link rel = "stylesheet" href = "../css/style.css" type = "text/css">
		<link rel = "stylesheet" href = "../css/actori.css" type = "text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<title>Joaquin Phoenix</title>
	</head>
	
	<body>
		<a id = "top"></a>
		<div id = "content_wrapper">
			<header class = "header4">
				<h1><a href = "/" class = "link">Joker</a></h1>
				<p><small>Clown Prince of Crime</small></p>
			</header>
		</div>
		
			<nav class="wrapper">
				<%- include("../fragmente/menu") %>
			</nav>
		
		<main>
			<section>
				<h2>Joaquin Rafael Phoenix</h2>
				<h3> (born <time datetime = "1974-09-28">October 28, 1974</time>)</h3> 
				<hr>
				<img src = "https://upload.wikimedia.org/wikipedia/commons/4/41/Joaquin_Phoenix_at_the_2018_Berlin_Film_Festival.jpg" alt = "Joaqui Phoenix">
				<p> He is a Puerto Rican-born <b>American</b> actor, as well as a producer, and an activist, who has received several accolades, including a Grammy Award, a Golden Globe Award, and nominations for three Academy Awards.
				Phoenix started acting in television series with his brother River Phoenix and sister Summer Phoenix. His first major film role was in SpaceCamp (1986). During this period, he was credited as Leaf Phoenix, his self-given name. He later went back to his birth name, Joaquin, and received positive reviews for his supporting work in several films, including To Die For (1995) and the period film Quills (2000). He received wider attention for his portrayal of Commodus in the 2000 historical epic film Gladiator, which earned him a nomination for the Academy Award for Best Supporting Actor. He has subsequently earned Best Actor nominations for portraying musician Johnny Cash in the biopic Walk the Line (2005) and for his role as a lustful alcoholic in the drama The Master (2012), which also won him the Volpi Cup for Best Actor.
				The very fact that a <b>Joker</b> film exists is proof that this classic comic book villain has grown far beyond his origin as an eccentric antagonist to Batman and became a cultural icon — the <b>clown</b>-faced ambassador of madness. No actor stepping into the role can take the job lightly, and arguably that goes double for Joaquin Phoenix in <b>Joker</b>, because he has no Batman to square off against. Phoenix had to create a compelling character who would keep our attention without jackets full of lethal toys and fights in bell towers. According to what the critics have to say so far, he's succeeded.
				So exactly how did Joaquin Phoenix become the <b>Joker</b>? Sure, he's played mentally ill characters before. But Arthur Fleck doesn't seem to have much in common with Freddie Quell from The Master or the obsessed Roman Emperor Commodus in Gladiator. He's a completely different animal, and according to Phoenix's own words, some of the steps he took to become this newest version of Gotham's <b>Clown</b> Prince of Crime chipped away at his mental and emotional well-being. To learn about those techniques and more, keep reading about how Joaquin Phoenix transformed into the <b>Joker</b>. </p>
			</section>

			<br><br><br>
			<blockquote cite = "https://www.looper.com/165773/how-joaquin-phoenix-transformed-into-the-joker/">
			<article>
			<h3>How Joaquin Phoenix transformed into the <b>Joker</b></h3>

			<p>The very fact that a <b>Joker</b> film exists is proof that this classic comic book villain has grown far beyond his origin as an eccentric antagonist to Batman and became a cultural icon — the <b>clown</b>-faced ambassador of madness. No actor stepping into the role can take the job lightly, and arguably that goes double for Joaquin Phoenix in <b>Joker</b>, because he has no Batman to square off against. Phoenix had to create a compelling character who would keep our attention without jackets full of lethal toys and fights in bell towers. According to what the critics have to say so far, he's succeeded.</p>

			<p>So exactly how did Joaquin Phoenix become the <b>Joker</b>? Sure, he's played mentally ill characters before. But Arthur Fleck doesn't seem to have much in common with Freddie Quell from <i>The Master</i> or the obsessed Roman Emperor Commodus in Gladiator. He's a completely different animal, and according to Phoenix's own words, some of the steps he took to become this newest version of Gotham's <b>Clown</b> Prince of Crime chipped away at his mental and emotional well-being. To learn about those techniques and more, keep reading about how Joaquin Phoenix transformed into the <b>Joker</b>.</p>

			<br>
			<section>
				<h4>​Joaquin Phoenix wasn't interested in yesterday's <b>Joker</b></h4>
				<p>In June, Daily Iowan columnist Austin J. Yerington argued that Gotham's green-haired nemesis is "the new Hamlet," pointing out not only how many acclaimed actors gravitate to the role of <b>Joker</b> but how — just like in the case of different thespians' portrayals of Hamlet — each actor puts enough of a twist on the character that he never seems like the same guy.</p> 

				<p>Yerington isn't wrong, and because of that you might assume the first thing on Joaquin Phoenix's to-do list — or that of any actor tasked with playing the <b>Joker</b> — was to study all those famous <b>Joker</b> portrayals. Jared Leto in Suicide Squad, Heath Ledger in The Dark Knight, Jack Nicholson in Batman, and all the way back to Cesar Romero in the campy '60s Batman series. He might even want some binges of Gotham and the short-lived Birds of Prey series, or to keep an ear open for the many voice actors who have portrayed the <b>Joker</b>; most famously Mark Hamill.</p>

				<p>But according to Phoenix, that was the last thing he wanted to do.</p> 

				<p>"For me, the attraction to make [<b>Joker</b>] and this character was that we were going to approach it in our own way," Phoenix said at the Venice Film Festival. "So for me, I didn't refer to past interpretations of the character."</p>

				<p>It's a bold strategy — and from what the critics are saying, it paid off. </p>
			</section>

			<br>
			<section>
				<h4>The Joaquin Phoenix Who Laughs</h4>
				<p>Arguably, Phoenix isn't completely accurate when he says he didn't study any previous film incarnations of the <b>Joker</b>. At the <b>2019</b> Venice Film Festival, <b>Joker</b> director Todd Phillips said one of the movies he found particularly important in his preparation for the role of Arthur Fleck was the 1928 silent film The Man Who Laughs. Based on the Victor Hugo novel of the same name, The Man Who Laughs stars Conrad Veidt as Gwynplaine, a freak show attraction who has been disfigured with a permanent smile since birth.</p>

				<p>The Man Who Laughs is often cited as the inspiration for the <b>Joker</b>, who premiered in 1940's Batman #1. DC Comics paid tribute to that early inspiration with its villain the Batman Who Laughs, an alternate universe version of Bruce Wayne who succumbs to the <b>Joker</b>'s madness. Grant Morrison — who wrote Batman for seven years and, among other things, introduced Batman's son Damian Wayne, a.k.a. the current Robin, to the mythos — called the creation of <b>Joker</b> a "straight lift" from The Man Who Laughs in his 2011 book Supergods. He goes so far to say it's a wonder how <b>Joker</b>'s creators "got away with it."</p>

				<p>So in a sense, even though the <b>Jokers</b> of Heath Ledger or Jack Nicholson weren't considered in the creation of Arthur Fleck, you could argue Philips and Phoenix studied every <b>Joker</b> by skipping them all and going straight to the source. </p>
			</section>

			<br>
			<section>
				<h4>Joaquin Phoenix went 'mad' losing weight to play the <b>Joker</b></h4>
				<p><b>Joker</b> director Todd Philips has been clear he doesn't want anyone to go into <b>Joker</b> thinking they're going to be seeing the adaptation of a particular comic, or that they should expect much inspiration from the comics at all. Ironically, there's at least one way Arthur Fleck's character mirrors the <b>Joker</b> of the comics perhaps more closely than any of the film adaptations we've seen so far. The <b>Joker</b> is almost always depicted as being very skinny in the comics, sometimes impossibly so. According to Phoenix, the first thing he did to prepare for <b>Joker</b> was to lose weight so quickly that it messed with his mental health.</p> 

				<p>"The first thing for us was the weight loss — I think that's really what I started with," Phoenix said at the Venice Film Festival. Fittingly, the weight loss didn't just make Phoenix look more like the <b>Joker</b> — it may have made him think more like him too. "[A]s it turns out, that then affects your psychology," Phoenix said. "You start to go mad when you lose that amount of weight in that amount of time."</p>
			</section>

			<br>
			<section>
				<h4>​Joaquin Phoenix studied the killers of kings for '<b>Joker</b>'</h4>
				<p>Films weren't the only media Joaquin Phoenix studied to become the <b>Joker</b>. At the <b>2019</b> Venice Film Festival, he mentioned reading a book that broke down the personality types of political assassins. We don't know exactly which books he read because he didn't offer specifics, though one likely candidate might be James W. Clarke's 1990 book On Being Mad or Merely Angry, which among other things looks at John Hinckley's 1981 assassination attempt on President Ronald Reagan.</p>

				<p>Regardless of exactly what Phoenix read, the subject is telling in terms of the departure from previous incarnations of the <b>Joker</b>. While the <b>Joker</b> of the comics and other films would likely have few qualms about killing politicians — Heath Ledger's <b>Joker</b> tries and fails to assassinate the mayor of Gotham in The Dark Knight — it isn't something he focuses on primarily.</p> 

				<p>It also speaks to just how strongly the films Phillips mentioned will influence <b>Joker</b>. Political assassination is very much on Travis Bickle's mind in 1976's Taxi Driver. And the early '80s setting of <b>Joker</b> places it right around the time Hinckley's own mental illness drove him to try to murder President Reagan. </p>
			</section>

			<br>
			<section>
				<h4>​Arthur Fleck's journal</h4>
				<p>If you want to find out about someone, you might try reading their diary. Instead of sneaking a peek at a journal, when Joaquin Phoenix wanted to get inside Arthur Fleck's mind, he wrote Fleck's journal for him.</p>

				<p>At the <b>2019</b> Venice Film Festival, Phoenix talked about how writing Fleck's journal helped him begin to form the characters. He told reporters that Todd Phillips sent him a blank notebook to act as Fleck's "journal and joke diary."</p>

				<p>"[T]hat was really helpful," Phoenix said, "because I had been there for a couple of weeks and wasn't sure how I was going to start." The actor apparently was a little stymied at first. "I didn't know what to write, so I asked [Phillips] for some suggestions, and after a few days, I ignored his suggestions and suddenly it was coming out. It became a really important part of the discovery of the character."</p>

				<p>Presumably, we've already gotten a glimpse at some of that source of discovery. In the first <b>Joker</b> trailer, one shot shows Fleck reviewing a spiral bound notebook. It says "JOKES" at the top of the page, though toward the bottom the handwriting gets larger and more crazed, suggesting by the end it's Fleck's mental illness we're seeing spill out more than his creativity. </p>
			</section>

			<br>
			<section>
				<h4>Joaquin Phoenix listened to no one while creating his <b>Joker</b></h4>
				<p>Following Joaquin Phoenix's words on the subject of <b>Joker</b> since he was cast in the role in 2018, at least one common theme about his process becomes clear — he doesn't care about your feedback.</p>

				<p>As mentioned previously in regards to the Arthur Fleck journal and joke diary, even when Phoenix specifically asked for feedback, he rejected it. Speaking of getting started on the journal, Phoenix said he initially asked Todd Phillips for suggestions and then "after a few days" he ignored the director's feedback and "suddenly [the writing] was coming out."</p>

				<p>His commitment to giving no weight to outside opinions goes beyond the <b>Joker</b> cast and crew. When asked in 2018 about fan reaction to <b>Joker</b>, he was clear about his feelings. "I couldn't care less," Phoenix said. "I don't really think that much about what people think. Who cares, who cares? My approach to every movie is the same. What I'm interested in is the filmmaker and the idea of the character."</p>
			</section>

			<br>
			<section>
				<h4>First, Joaquin Phoenix created <b>Joker</b>'s laugh</h4>
				<p>Joaquin Phoenix says he thinks one of the things that makes his take on the <b>Joker</b> "a fresh, new way" at approaching the character is the notion that the <b>Joker</b> is a persona that already exists within Arthur Fleck "trying to emerge." The actor said one of the earliest things he tackled was the madman's infamous laugh. We hear a bit of it in the first <b>Joker</b> teaser and get a little more in the final trailer. According to Phoenix, the laugh wasn't easy to nail down.</p>

				<p>"Before I even read the script, Todd came over and talked me through what he wanted out of this character and this movie... and he described the laughter as something that was almost painful," Phoenix told the press in Venice. "[H]onestly, I didn't think that I could do it. I would practice alone and then asked Todd to come over to audition my laugh, because I felt like I had to do it on the spot and in front of somebody else. It took me a long time."</p>

				<p>Reviewing the final trailer with Phoenix's words in mind is interesting. During his confrontation with Thomas Wayne, you can hear what Phoenix is talking about as far as the laughter being "almost painful." Earlier, when he laughs loudly and abruptly stops, it's easy to imagine this is a reflection of what Phoenix means when he talks about the laughter showing that <b>Joker</b> is something "trying to emerge" from Fleck. </p>
			</section>
		</article>
	</blockquote>

		<div id = "mybtn"><a href = "#top">&#8728; Top &#8728;</a></div>
	</main>
	</body>
</html>